<?xml version="1.0" ?>

<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
    <arg name="mode"                            default="sim"/>
    <arg name="namespace"                       default="hugin"/>
    <arg name="leader"                          default="hugin_0"/>
    <arg name="debug"                           default="0"/>
    <arg name="dataset"                         default="ripples"/>
    <arg name="app"                             default="ipp"/>
    <arg name="multi_agent" default="false"/>

	<!-- Rates for simulating missions  -->
    <arg name="odom_rate" default="0.1"/>
	<arg name="mbes_rate" default="0.1"/>
	<arg name="sss_rate" default="0.1"/>
    <arg name="path" default="$(find uw_tests)/datasets/$(arg dataset)/"/>

    <!-- MBES sensor -->
	<arg name="n_beams_mbes"                    default="64"/>	
	<arg name="mbes_open_angle"                 default="1.57" />
  	
    <!-- SSS sensor -->
	<arg name="n_beams_sss" default="500"/>	<!-- Per SSS head -->
	<arg name="sss_open_angle" default="2.0" />

    <!-- Coordinates of odom frame wrt the map frame. By default, the AUV start the mission here -->
    <arg name="x"                               default="58"/>
    <arg name="y"                               default="200"/>
    <arg name="z"                               default="0.0"/>
    <arg name="roll"                            default="0.0"/>
    <arg name="pitch"                           default="0.0"/>
    <arg name="yaw"                             default="-1.57"/>

    <arg name="map_frame"                       default="map"/>
    <arg name="odom_frame"                      default="$(arg namespace)/odom"/>
    <arg name="odometry_topic"                  default="/$(arg namespace)/$(arg mode)/odom"/>
    <arg name="mbes_pings_topic"                default="/$(arg namespace)/$(arg mode)/mbes_pings"/>

    <!-- RBPF params  -->
    <arg name="survey_finished_top"             default="/$(arg mode)/survey_finished"/>

    <!-- API for SVGP particles -->
    <arg name="gp_ip_topic"                     default="/$(arg leader)/gp/inducing_points"/>
    <arg name="gp_mb_server"                    default="/$(arg namespace)/gp/minibatch_server"/>
    <arg name="manipulate_gp_server"            default="/$(arg namespace)/gp/manipulate_server"/>
    <arg name="sample_gp_server"                default="/$(arg namespace)/gp/sample_server"/>
    <arg name="gp_resample_top"                 default="/$(arg namespace)/gp/resample_top"/>
    <arg name="results_path"                    default="/home/torroba/catkin_workspaces/auv_ws/src/UWExploration/planning/ipp/data/"/>   
    <arg name="num_particles_per_handler"       default="1"/>      
    <arg name="svgp_minibatch_size"             default="1024" />
    <arg name="prior_mean"                      default="-20" />
    <arg name="prior_vari"                      default="4.0" />

    <!-- Planner parameters -->
    <arg name="corners_topic"                    default="/$(arg namespace)/corners"/>
    <arg name="training_rate"                   default="30"/>

    <!-- Run waypoint handler / navigation control -->
    <arg name="manual_control" default="false"/>
    <arg name="max_throttle" default="2.0"/>

	<group ns="$(arg namespace)">

        <!-- If plotting decision support material should be enabled -->
        <arg name="visualize"                       default="0"/>

        <node type="svgp_map.py" pkg="gp_mapping" name="svgp_map_node" output="screen">
            <param name="minibatch_gp_server" value="$(arg gp_mb_server)"/>     
            <param name="manipulate_gp_server" value="$(arg manipulate_gp_server)"/>     
            <param name="sample_gp_server" value="$(arg sample_gp_server)"/>     
            <param name="corners_topic" value="$(arg corners_topic)"/> 
            <param name="ip_top"       value="$(arg gp_ip_topic)"/>     
            <param name="svgp_num_ind_points" value="400"/>     
            <param name="svgp_minibatch_size" value="1000"/>     
            <param name="svgp_learning_rate" value="1e-1"/>     
            <param name="prior_mean" value="$(arg prior_mean)"/>     
            <param name="prior_vari" value="$(arg prior_vari)"/>     
            <param name="svgp_rtol" value="1e-3"/>     
            <param name="svgp_n_window" type="int" value="400"/>     
            <param name="svgp_auto_stop" value="False"/>     
            <param name="svgp_verbose" value="False"/>     
            <param name="num_particles_per_handler" value="$(arg num_particles_per_handler)"/>     
            <param name="results_path" value="$(arg results_path)"/> 
            <param name="particle_enable_lc" value="/$(arg namespace)/enable_lc"/> 
            <param name="n_beams_mbes"   type= "int"  value="$(arg n_beams_mbes)" />      
            <param name="train_rate"    type="int"  value="$(arg training_rate)" />
            <param name="namespace"   value="$(arg namespace)" />
        </node>

        <!-- Run uncertainty management node -->
        <node type="auv_ui_online.py" pkg="uncert_management" name="auv_ui_online" output="screen">
            <param name="map_frame"                 value="$(arg map_frame)" />
            <param name="odom_frame"                value="$(arg odom_frame)" />
            <param name="base_link"                 value="$(arg namespace)/base_link" />
            <param name="mbes_link"                 value="$(arg namespace)/mbes_link" />
            <param name="odometry_topic"            value="$(arg odometry_topic)" />
            <param name="mbes_pings_topic"          value="$(arg mbes_pings_topic)" />
            <param name="background_img_path"       value="$(find uw_tests)/datasets/$(arg dataset)/default_real_mean_depth.png" />       
            <param name="dataset"                   value="$(arg dataset)" />       
            <param name="visualization_period"      value="0.5" />       
            <param name="survey_finished_top"       value="$(arg survey_finished_top)" />
            <param name="minibatch_gp_server"       value="$(arg gp_mb_server)"/>    
            <!-- <param name="inducing_points_top"       value="$(arg gp_ip_topic)"/>      -->
            <!-- <param name="path_topic"                value="/$(arg namespace)/waypoints" /> -->
            <param name="gp_resampling_top"         value="$(arg gp_resample_top)" />
            <param name="manipulate_gp_server"      value="$(arg manipulate_gp_server)" />
            <param name="synch_topic"               value="/$(arg app)/synch" />
        </node>
    
        <node type="map_mbes_node" pkg="map_features" name="map_mbes_node" output="screen">
            <param name="mbes_pings"  value="/$(arg namespace)/$(arg mode)/mbes_pings" />
            <param name="odom_topic"  value="/$(arg namespace)/$(arg mode)/odom" />
            <param name="map_frame" value="$(arg map_frame)" />
            <param name="odom_frame" value="$(arg odom_frame)" />
            <param name="base_link" value="$(arg namespace)/base_link" />
            <param name="mbes_link" value="$(arg namespace)/mbes_link" />
            <param name="save_map_srv" value="/$(arg namespace)/save_map" />
            <param name="save_map_path" value="$(find uw_tests)/datasets/$(arg dataset)/map_mbes.pcd" />
            <param name="map_topic" value="/$(arg namespace)/map/mbes_pings" />
            <param name="publish_mbes_cloud" type= "bool" value="True" />
        </node>

        <!-- Launch vehicle simulation -->
        <include file="$(find auv_model)/launch/auv_model.launch" >
            <arg name="mode" value="$(arg mode)"/>
            <arg name="namespace" value="$(arg namespace)"/>
            <arg name="leader" value="$(arg leader)"/>
            <arg name="dataset" value="$(arg dataset)"/>
            <arg name="app" value="$(arg app)"/>
            <arg name="debug" value="$(arg debug)"/>
            <arg name="odom_rate" value="$(arg odom_rate)"/>
            <arg name="mbes_rate" value="$(arg mbes_rate)"/>
            <arg name="sss_rate" value="$(arg sss_rate)"/>
            <arg name="n_beams_mbes" value="$(arg n_beams_mbes)"/>	
            <arg name="n_beams_sss" value="$(arg n_beams_sss)"/>	
            <arg name="mbes_open_angle" value="$(arg mbes_open_angle)" />
            <arg name="sss_open_angle" value="$(arg sss_open_angle)" />
            <arg name="path" value="$(arg path)" />
            <arg name="x" value="$(arg x)"/>
            <arg name="y" value="$(arg y)"/>
            <arg name="z" value="$(arg z)"/>
            <arg name="roll" value="$(arg roll)"/>
            <arg name="pitch" value="$(arg pitch)"/>
            <arg name="yaw" value="$(arg yaw)"/>
            <arg name="multi_agent" value="$(arg multi_agent)"/>
        </include>
    </group>


</launch>