<?xml version="1.0" ?>
<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
	<arg name="mode" default="gt"/>
	<arg name="namespace" default="hugin"/>
    <arg name="debug" default="0"/>
	<arg name="dataset" default="overnight_2020"/>
	<arg name="app" default="slam"/>

  	<!-- MBES sensor -->
	<arg name="n_beams_mbes" default="100"/>	
	<arg name="mbes_open_angle" default="2.250" />

	<!-- Frames -->
	<arg name="world_frame"	default="world"/>
	<arg name="map_frame"	default="map"/>
	<arg name="odom_frame"	default="odom"/>

	<group ns="$(arg app)">

		<node type="bathy_graph_slam_node" pkg="bathy_graph_slam" name="bathy_slam_node" output="screen">
			<param name="mbes_pings"  value="/$(arg mode)/mbes_pings" />
			<param name="odom_gt"  value="/$(arg mode)/odom" />
			<param name="world_frame" value="$(arg world_frame)" />
			<param name="map_frame" value="$(arg map_frame)" />
			<param name="odom_frame" value="$(arg odom_frame)" />
			<param name="base_link" value="$(arg namespace)/base_link" />
			<param name="mbes_link" value="$(arg namespace)/mbes_link" />
			<param name="survey_finished_top" value="/$(arg namespace)/survey_finished" />
			<param name="synch_topic" value="/$(arg app)/synch" />
		</node>
	
	</group>

    <!-- UW environment -->
    <include file="$(find auv_model)/launch/auv_environment.launch" >
		<arg name="mode" value="$(arg mode)"/>
		<arg name="namespace" value="$(arg namespace)"/>
		<arg name="debug" default="0"/>
		<arg name="app" value="$(arg app)"/>
		<arg name="dataset" value="$(arg dataset)" />
		<arg name="n_beams_mbes" value="$(arg n_beams_mbes)"/>
		<arg name="mbes_open_angle" value="$(arg mbes_open_angle)" />
    </include>


</launch>
