<?xml version="1.0" ?>
<launch>
    <arg name="app" default="rbpf"/>
	  <arg name="dataset" default=""/>
    <arg name="namespace" default="lolo"/>
    <arg name="node_name"/>
    <arg name="gp_ip_topic" default="/gp/inducing_points"/>
    <arg name="gp_mb_server" default="/gp/minibatch_server"/>
    <!-- <arg name="gp_plot_server" default="/gp/plot_server"/> -->
    <arg name="manipulate_gp_server" default="/gp/manipulate_server"/>
    <arg name="gp_resample_top" default="/gp/resample_top"/>
    <arg name="num_particles_per_handler"/>     
    <arg name="n_beams_mbes" default="100"/>     
    <arg name="svgp_minibatch_size" default="800"/>     


    <node type="rbpf_svgp.py" pkg="rbpf_slam" name="$(arg node_name)" output="screen">
      <param name="results_path" value="$(find uw_tests)/$(arg app)/$(arg dataset)/"/>     
      <param name="minibatch_gp_server" value="$(arg gp_mb_server)"/>     
      <!-- <param name="plot_gp_server" value="$(arg gp_plot_server)"/>      -->
      <param name="manipulate_gp_server" value="$(arg manipulate_gp_server)"/>     
      <param name="inducing_points_top" value="$(arg gp_ip_topic)"/>   
			<param name="gp_resampling_top"  value="$(arg gp_resample_top)" />
      <param name="svgp_num_ind_points" value="400"/>     
      <param name="svgp_minibatch_size" value="$(arg svgp_minibatch_size)"/>     
      <param name="svgp_learning_rate" value="1e-1"/>     
      <param name="svgp_rtol" value="1e-4"/>     
      <param name="svgp_n_window" type="int" value="100"/>     
      <param name="svgp_auto_stop" value="False"/>     
      <param name="svgp_verbose" value="True"/>     
      <param name="num_particles_per_handler" value="$(arg num_particles_per_handler)"/>     
      <param name="n_beams_mbes"   type= "int"  value="$(arg n_beams_mbes)" />       
    </node>
</launch>