<?xml version="1.0" ?>
<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
  <arg name="mode" default="sim"/>
	<arg name="namespace" default="hugin"/>
	<arg name="debug" default="0"/>
	<arg name="dataset" default="overnight_2020"/>
	<arg name="app" default="rbpf"/>
  <arg name="path" default="$(find uw_tests)/datasets/$(arg dataset)/"/>

  <!-- MBES sensor -->
	<arg name="n_beams_mbes" default="50"/>	
	<arg name="mbes_open_angle" value="1.050" /> 

  <!-- RBPF params  -->
  <arg name="particle_count"                    default="3"/> <!--50 -->
  <!-- [x, y, z, roll, pitch, yaw] -->
  <!-- <arg name="init_covariance" default="[0., 0., 0.0, 0.0, 0.0, 0.0]"/> -->
  <arg name="init_covariance" default="[10., 5., 0.0, 0.0, 0.0, 0.0]"/>
  <arg name="motion_covariance" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.00005]"/>
  <arg name="resampling_noise_covariance" default="[2.0, 2.0, 0.0, 0.0, 0.0, 0.0]"/>
  <!-- <arg name="motion_covariance" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.001]"/> -->
  <!-- <arg name="resampling_noise_covariance" default="[10, 10, 0.0, 0.0, 0.0, 0.0]"/>  -->
  <arg name="measurement_std"  default="3"/>
  <arg name="survey_finished_top" default="/gt/survey_finished"/>
  <arg name="gp_plot_server" default="/gp/plot_server"/>
  <arg name="sample_plot_server" default="/gp/sample_server"/>
  <arg name="results_path"   default="$(find uw_tests)/$(arg app)/$(arg dataset)/" /> <!-- Where to save the results  -->
  <arg name="rbpf_period"   default="0.3" />



  <arg name="map_frame"                         default="map"/>
  <arg name="odom_frame"                         default="odom"/>
  <arg name="odometry_topic"                    default="/$(arg mode)/odom"/>
  <arg name="mbes_pings_topic"                  default="/$(arg mode)/mbes_pings"/>
  <arg name="average_pose_topic"                default="/$(arg app)/avg_pose"/>
  <arg name="particle_poses_topic"              default="/$(arg app)/particle_poses"/>
  <arg name="particle_sim_mbes_topic"           default="/$(arg app)/sim_mbes"/>
  <arg name="average_mbes_topic"                default="/$(arg app)/avg_mbes"/>

    <node type="rbpf_slam.py" pkg="rbpf_slam" name="rbpf_slam" output="screen">
      <param name="particle_count"          type= "int"     value="$(arg particle_count)" />
      <param name="init_covariance"                         value="$(arg init_covariance)" />
      <param name="resampling_noise_covariance"             value="$(arg resampling_noise_covariance)" />
      <param name="measurement_std"                         value="$(arg measurement_std)" />
      <param name="motion_covariance"                       value="$(arg motion_covariance)" />
      <param name="map_frame"                               value="$(arg map_frame)" />
      <param name="odom_frame"                              value="$(arg odom_frame)" />
			<param name="mbes_link"                               value="$(arg namespace)/mbes_link" />
			<param name="base_link"                               value="$(arg namespace)/base_link" />
			<param name="synch_topic"                             value="/$(arg app)/synch" />
      <param name="result_path"                             value="$(arg results_path)" />
      <param name="mbes_open_angle"                         value="$(arg mbes_open_angle)" />
      <param name="odometry_topic"                          value="$(arg odometry_topic)" />
      <param name="mbes_pings_topic"                        value="$(arg mbes_pings_topic)" />
      <param name="average_pose_topic"                      value="$(arg average_pose_topic)" />
  	  <param name="average_mbes_topic"                      value="$(arg average_mbes_topic)" />
      <param name="particle_poses_topic"                    value="$(arg particle_poses_topic)" />
      <param name="particle_sim_mbes_topic"                 value="$(arg particle_sim_mbes_topic)" />
      <param name="num_beams_sim"                           value="$(arg n_beams_mbes)" />
      <param name="n_beams_mbes"                            value="$(arg n_beams_mbes)" />       
      <param name="mesh_path" value="$(arg path)/mesh.npz" />       
      <param name="survey_finished_top" value="/gt/survey_finished" />       
      <param name="sound_velocity_prof" value="$(arg path)/svp.cereal" />       
      <param name="pf_stats_top" value="/stats/pf_data" />  
      <param name="plot_gp_server" value="$(arg gp_plot_server)"/>     
      <param name="sample_gp_server" value="$(arg sample_plot_server)"/>  
      <param name="rbpf_period" value="$(arg rbpf_period)"/>  
    </node>

    <!-- Each GP in now trained in a ROS node. This launches a GP ROS node per particle  -->
    <!-- <node type="particles_launcher.py" pkg="rbpf_slam" name="particle_launcher" output="screen">
      <param name="num_particles" value="$(arg particle_count)"/>     
      <param name="particle_launch_file" value="$(find rbpf_slam)/launch/particle.launch"/>     
    </node> -->

    <!-- <node type="visual_tools.py" pkg="rbpf_slam" name="visual_tools" output="screen">
      <param name="pf_stats_top" value="/stats/pf_data" />       
      <param name="map_frame" value="$(arg map_frame)" />       
      <param name="odom_frame" value="$(arg odom_frame)" />       
      <param name="survey_finished_top" value="$(arg survey_finished_top)" />       
      <param name="background_img_path" value="/home/torroba/workspace/bathymetric_svgp/src/utils/default_real_mean_depth.png" />       
      <param name="result_path" value="$(arg results_path)" />
      <param name="mbes_pings_topic" value="/$(arg mode)/mbes_pings" />
      <param name="particle_sim_mbes_topic" value="$(arg particle_sim_mbes_topic)" />
   </node> -->

    <!-- UW environment -->
    <include file="$(find auv_model)/launch/auv_environment.launch" >
      <arg name="mode" value="$(arg mode)"/>
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="debug" default="0"/>
      <arg name="app" value="$(arg app)"/>
      <arg name="dataset" value="$(arg dataset)" />
      <arg name="n_beams_mbes" value="$(arg n_beams_mbes)"/>
      <arg name="mbes_open_angle" value="$(arg mbes_open_angle)" />
    </include>

</launch>

