<?xml version="1.0" ?>
<launch>

	<arg name="namespace" default="hugin"/>
	<arg name="mode"       default="gt"/>
	<arg name="filter" default="pf"/>

	<arg name="map_frame"                         default="map"/>
	<arg name="odom_frame"                         default="odom"/>
	<arg name="odometry_topic"                    default="/$(arg mode)/odom"/>
	<arg name="mbes_pings_topic"                  default="/$(arg mode)/mbes_pings"/>
	<arg name="expected_mbes_topic"                default="/$(arg filter)/avg_mbes"/>
	<arg name="average_pose_topic"                default="/$(arg filter)/avg_pose"/>
	<arg name="detection_topic"                		default="/detection_pose"/>
<!-- 	<arg name="particle_poses_topic"              default="/$(arg filter)/particle_poses"/>
	<arg name="particle_sim_mbes_topic"           default="/$(arg filter)/sim_mbes"/> -->

	<group ns="$(arg namespace)">

	    <node type="change_detector.py" pkg="change_detection" name="car_detector" output="screen" respawn="true">
			<param name="map_frame"                               value="$(arg map_frame)" />
			<param name="odom_frame"                               value="$(arg odom_frame)" />
			<param name="odometry_topic"                          value="$(arg odometry_topic)" />
			<param name="mbes_pings_topic"                        value="$(arg mbes_pings_topic)" />
			<param name="average_pose_topic"                      value="$(arg average_pose_topic)" />
			<param name="expected_mbes_topic"                      value="$(arg expected_mbes_topic)" />
			<param name="detection_topic"                          value="$(arg detection_topic)" />
		</node>

	</group>

</launch>
