<?xml version="1.0"?>

<robot name="hugin_auv" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="hugin_auv"/>
  <xacro:include filename="$(find hugin_description)/urdf/hugin_auv_base.urdf.xacro"/>
  <xacro:hugin_auv_base namespace="$(arg namespace)" debug="$(arg debug)"/>
</robot>
