<?xml version="1.0" ?>
<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
    <arg name="mode" default="sim"/>
	<!-- <arg name="namespace" default="hugin"/> -->
	<arg name="dataset" default="ripples"/>
    <arg name="app" default="basic"/>

	<!-- <group ns="$(arg namespace)"> -->

		<!-- Publish map as pcl  -->
		<node type="map_pcl_vis.py" pkg="map_visualizer" name="map_pub" output="screen">
			<param name="map_cloud_path"  value="$(find uw_tests)/datasets/$(arg dataset)/pcl.npy" />
			<!-- <param name="map_cloud_path"  value="/home/torroba/workspace/bathymetric_svgp/data/overnight_20/test_20/pcl.npy" /> -->
			<param name="map_gp_path"  value=""/>
			<!-- <param name="map_gp_path"  value="/home/torroba/workspace/bathymetric_svgp/data/overnight_20/test_20/svgp_uui_2d_post.npy" /> -->
			<param name="map_sift_path"  value=""/>
			<!-- <param name="map_sift_path"  value="$(find uw_tests)/$(arg app)/$(arg dataset)/sift_map.pcd"/> -->
			<param name="map_frame" value="map" />
			<param name="map_mbes" value="/map_mbes" />
			<param name="use_pings_cloud" type= "bool" value="True" />
		</node>
    <!-- </group> -->

    <!-- Extract SIFT features from map  -->
    <!-- <node type="sift_extractor_node" pkg="map_features" name="sift_extractor_node" output="screen">
        <param name="map_cloud_path"  value="$(find uw_tests)/datasets/$(arg dataset)/pcl_33_over.npy" />
        <param name="map_frame" value="map" />
        <param name="map_mbes" value="/map_mbes" />
    </node> -->

</launch>