<?xml version="1.0" ?>
<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
    <arg name="mode" default="gt"/>
	<arg name="namespace" default="hugin"/>
	<arg name="dataset" default="overnight_2020"/>
    <arg name="app" default="pf"/>
    <arg name="debug" default="0"/>

	<!-- Rates for simulating missions  -->
    <arg name="odom_rate" default="0.1"/>
	<arg name="meas_rate" default="0.1"/>
    <arg name="replay_rate" default="0.1"/>
	
	<!-- MBES sensor -->
	<arg name="n_beams_mbes" default="100"/>	
	<arg name="mbes_open_angle" default="1.908" />
	<!-- For lost targets -->
	<!-- <arg name="mbes_open_angle" value="1.308" /> -->

    <!-- Real data  -->
    <arg name="map_name" default="demo_02"/> <!-- Name of UFO map to be loaded (if exists) or saved when gt mission is over -->
    <arg name="path" default="$(find uw_tests)/datasets/$(arg dataset)/"/>
    <arg name="cereal_trajectory" default="$(arg path)/mbes_pings_33.cereal"/>

	<!-- Coordinates of odom frame wrt the map frame. By default, the AUV start the mission here -->
	<arg name="x" default="-200.0"/>
	<arg name="y" default="-200.0"/>
	<arg name="z" default="0.0"/>
	<arg name="roll" default="0.0"/>
	<arg name="pitch" default="0.0"/>
	<arg name="yaw" default="0.0"/>

	<group ns="$(arg namespace)">

		<!-- Hugin model -->
		<param name="robot_description" command="$(find xacro)/xacro '$(find hugin_description)/robots/hugin_auv_default.urdf.xacro' debug:=$(arg debug) namespace:=$(arg namespace)" />
		<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
		</node>

		<!-- Publish map as pcl  -->
		<node type="map_pcl_vis.py" pkg="map_visualizer" name="map_pub" output="screen">
			<param name="map_cloud_path"  value="$(find uw_tests)/datasets/$(arg dataset)/pcl_33_over.npy" />
			<param name="map_gp_path"  value="$(find uw_tests)/datasets/$(arg dataset)/svgp_1000_0.01.npy"/>
			<!-- <param name="map_sift_path"  value=""/> -->
			<param name="map_sift_path"  value="$(find uw_tests)/$(arg app)/$(arg dataset)/sift_map.pcd"/>
			<param name="map_frame" value="map" />
			<param name="map_mbes" value="/map_mbes" />
			<param name="use_pings_cloud" type= "bool" value="True" />
		</node>

		<!-- Extract SIFT features from map  -->
		<!-- <node type="sift_extractor_node" pkg="map_features" name="sift_extractor_node" output="screen">
			<param name="map_cloud_path"  value="$(find uw_tests)/datasets/$(arg dataset)/pcl_33_over.npy" />
			<param name="map_frame" value="map" />
			<param name="map_mbes" value="/map_mbes" />
		</node> -->


		<!-- Simulate Hugin AUV -->
		<group if="$(eval mode == 'sim')">
    		<node pkg="tf" type="static_transform_publisher" name="tf_world_map_pub" args="0 0 0 0 0 0 world map 50" />

    		<node pkg="tf" type="static_transform_publisher" name="tf_map_odom_pub" args="$(arg x) $(arg y) $(arg z) $(arg yaw) $(arg pitch) $(arg roll) map odom 50" />

			<node pkg="auv_model" type="auv_motion_model" name="auv_motion_model" output="screen">
				<param name="odom_rate" value="$(arg odom_rate)" />
				<param name="meas_rate" value="$(arg meas_rate)" />
				<param name="odom_sim" value="/$(arg mode)/odom" />
				<param name="world_frame" value="world" />
				<param name="map_frame" value="map" />
				<param name="odom_frame" value="odom" />
				<param name="base_link" value="$(arg namespace)/base_link" />
				<param name="mbes_link" value="$(arg namespace)/mbes_link" />
				<param name="throttle_cmd" value="/$(arg namespace)/throttle_cmd" />
				<param name="thruster_cmd" value="/$(arg namespace)/thruster_cmd" />
				<param name="inclination_cmd" value="/$(arg namespace)/inclination_cmd" />
				<param name="mbes_pings_topic" value="/sim/mbes_pings" />
				<param name="mbes_sim_as" value="/mbes_sim_server" />
				<param name="n_beams_mbes" value="$(arg n_beams_mbes)" />
			</node>

			<node pkg="auv_model" type="auv_sim_teleop.py" name="auv_sim_teleop" output="screen">
				<param name="throttle_cmd" value="/$(arg namespace)/throttle_cmd" />
				<param name="thruster_cmd" value="/$(arg namespace)/thruster_cmd" />
				<param name="inclination_cmd" value="/$(arg namespace)/inclination_cmd" />
			</node>

			<node pkg="auv_model" type="auv_mbes_model.py" name="auv_mbes_model" output="screen">
				<param name="mbes_open_angle" value="$(arg mbes_open_angle)" />
				<param name="mbes_link" value="$(arg namespace)/mbes_link" />
				<param name="mbes_sim_as" value="/mbes_sim_server" /> 
				<param name="server_mode" value="True" if="$(eval mode == 'sim')"/>    
				<param name="server_mode" value="False" unless="$(eval mode == 'sim')"/> 
				<param name="sound_velocity_prof" value="$(find uw_tests)/datasets/$(arg dataset)/svp.cereal" />       
			    <param name="mesh_path" value="$(find uw_tests)/datasets/$(arg dataset)/mesh.npz" />       
			</node>

  		</group>

		<!-- Reproduce real Hugin survey -->
  		<group unless="$(eval mode == 'sim')">
			<node pkg="auv_2_ros" type="auv_2_ros" name="auv_2_ros" output="screen">
				<param name="trajectory_cereal" value="$(arg cereal_trajectory)"/>
				<param name="replay_rate" value="$(arg replay_rate)" />
				<param name="mbes_pings" value="/gt/mbes_pings" />
				<param name="map_pcl" value="/gt/map" />
				<param name="debug_pings" value="debug/mbes_pings" />
				<param name="mbes_pings_topic" value="/gt/mbes_pings" />
				<param name="world_frame" value="world" />
				<param name="map_frame" value="map" />
				<param name="odom_frame" value="odom" />
				<param name="base_link" value="$(arg namespace)/base_link" />
				<param name="mbes_link" value="$(arg namespace)/mbes_link" />
				<!-- <param name="add_mini" value="$(arg add_mini)" /> -->
				<param name="synch_topic" value="/$(arg app)/synch" />
				<param name="n_beams_mbes" value="$(arg n_beams_mbes)" />
      			<param name="survey_finished_top" value="/gt/survey_finished" />       
				<param name="start_mission_ping_num" value="18000" />
				<!-- <param name="end_mission_ping_num" value="28000" /> -->
			</node>
		</group>

	</group>

</launch>
