<?xml version="1.0" ?>
<launch>
    <!-- Publish map as pcl  -->
    <node type="lolo_map_vis.py" pkg="map_pcl_publisher" name="map_pub" output="screen">
        <!--<param name="map_cloud_path"  value="/home/aldoteran/slam_ws/src/UWExploration/sim_auv/auv_model/launch/pcl.npy" />-->
        <param name="map_cloud_path"  value="/home/aldoteran/slam_ws/maps/KBerg_map_full.ply" />
        <!--<param name="map_cloud_path"  value="/home/aldoteran/slam_ws/maps/baggen_map_utm.npy" />-->
        <param name="map_gp_path"  value=""/>
        <param name="map_frame" value="map" />
        <param name="use_pings_cloud" type= "bool" value="True" />
    </node>

</launch>

