<?xml version="1.0" ?>
<launch>
	<!-- If mode = sim: Simulated AUV with MBES and control in loaded bathymetric map 
	If mode = gt: reproduce Hugin survey and construct map of real bathymetry --> 
  <arg name="mode" default="gt"/>
	<arg name="namespace" default="hugin"/>
	<arg name="debug" default="0"/>
	<arg name="dataset" default="overnight_2020"/>

  <!-- MBES sensor -->
	<arg name="n_beams_mbes" default="100"/>	
	<arg name="mbes_open_angle" value="2.250" />
  
  <arg name="filter" default="pf"/>

  <!-- Define args -->
  <arg name="particle_count"                    default="80"/>
  <!-- [x, y, z, roll, pitch, yaw] -->
  <arg name="init_covariance" default="[20., 20., 0.0, 0.0, 0.0, 0.0]"/>
  <arg name="motion_covariance" default="[0.0, 0.0, 0.0, 0.0, 0.0, 0.0001]"/>
  <arg name="resampling_noise_covariance" default="[10, 10, 0.0, 0.0, 0.0, 0.0]"/>
  <arg name="measurement_std"  default="0.7"/>

  <arg name="map_frame"                         default="map"/>
  <arg name="odom_frame"                         default="odom"/>
  <arg name="odometry_topic"                    default="/$(arg mode)/odom"/>
  <arg name="mbes_pings_topic"                  default="/gt/mbes_pings"/>
  <arg name="average_pose_topic"                default="/$(arg filter)/avg_pose"/>
  <arg name="particle_poses_topic"              default="/$(arg filter)/particle_poses"/>
  <arg name="particle_sim_mbes_topic"           default="/$(arg filter)/sim_mbes"/>
  <arg name="average_mbes_topic"                default="/$(arg filter)/avg_mbes"/>

    <node type="auv_pf_gp.py" pkg="auv_particle_filter" name="auv_pf" output="screen">
      <param name="particle_count"          type= "int"     value="$(arg particle_count)" />
      <param name="init_covariance"                  value="$(arg init_covariance)" />
      <param name="resampling_noise_covariance"                  value="$(arg resampling_noise_covariance)" />
      <param name="measurement_std"                  value="$(arg measurement_std)" />
      <param name="motion_covariance"                       value="$(arg motion_covariance)" />
      <param name="map_frame"                               value="$(arg map_frame)" />
      <param name="odom_frame"                               value="$(arg odom_frame)" />
			<param name="mbes_link" value="$(arg namespace)/mbes_link" />
			<param name="synch_topic" value="$(arg filter)/synch" />

      <param name="mbes_open_angle" value="$(arg mbes_open_angle)" />
      <param name="odometry_topic"                          value="$(arg odometry_topic)" />
      <param name="mbes_pings_topic"                        value="$(arg mbes_pings_topic)" />
      <param name="average_pose_topic"                      value="$(arg average_pose_topic)" />
  	  <param name="average_mbes_topic"                      value="$(arg average_mbes_topic)" />
      <param name="particle_poses_topic"                    value="$(arg particle_poses_topic)" />
      <param name="particle_sim_mbes_topic"                 value="$(arg particle_sim_mbes_topic)" />
      <param name="num_beams_sim" value="$(arg n_beams_mbes)" />
      <param name="n_beams_mbes" value="$(arg n_beams_mbes)" />       
      <param name="mesh_path" value="$(find auv_particle_filter)/meshes/$(arg dataset)/mesh.npz" />       
      <param name="gp_path" value="$(find auv_particle_filter)/meshes/$(arg dataset)/svgp.pth" />    <!--Only needed for GPs-->   
      <!-- <param name="sound_velocity_prof" value="/home/torroba/Downloads/post_deployment/KTH_PI_SVP_20180807_1251_573365N_0115014E_004.asvp" />        -->
      <param name="sound_velocity_prof" value="$(find auv_particle_filter)/meshes/$(arg dataset)/svp.cereal" />       
    </node>

    <!-- UW environment -->
    <include file="$(find auv_model)/launch/auv_localization.launch" >
      <arg name="mode" value="$(arg mode)"/>
      <arg name="filter" value="$(arg filter)"/>
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="n_beams_mbes" value="$(arg n_beams_mbes)"/>
      <arg name="mbes_open_angle" value="$(arg mbes_open_angle)" />
      <arg name="dataset" value="$(arg dataset)" />
    </include>

</launch>

