<?xml version="1.0" ?>
<launch>

  <arg name="mode" default="sim"/>
  
  <!-- Define args -->
  <arg name="particle_count"                    default="100"/>
  <arg name="motion_covariance"                 default="[0.0, 0.0, 0.001]"/> <!-- [x, y, yaw] -->
  <arg name="map_frame"                         default="odom"/>
  <arg name="odometry_topic"                    default="/$(arg mode)/odom"/>
  <arg name="particle_poses_topic"              default="/particle_filter_topic"/>

  <!-- <arg name="true_mbes_topic"                   default="/gt/mbes_pings"/>
  <arg name="simulated_mbes_topic"              default="/sim/mbes"/> -->

  <node type="auv_pf.py" pkg="auv_particle_filter" name="auv_pf" output="screen">
    
    <param name="particle_count"          type= "int"     value="$(arg particle_count)" />
    <param name="motion_covariance"                       value="$(arg motion_covariance)" />
    <param name="map_frame"                               value="$(arg map_frame)" />
    <param name="odometry_topic"                          value="$(arg odometry_topic)" />
    <param name="particle_poses_topic"                    value="$(arg particle_poses_topic)" />

    <!-- <param name="true_mbes_topic"                         value="$(arg true_mbes_topic)" />
    <param name="simulated_mbes_topic"                    value="$(arg simulated_mbes_topic)" /> -->

  </node>
  
</launch>